.table-responsive {
    overflow-x: auto;
  }

  .btn {
    font-size: 14px;
  }
  

  .card-title {
    font-size: 1.25rem;
  }
  
  .card {
    margin: 0.5rem;
  }
  

  .btn-primary, .btn-warning, .btn-danger {
    font-size: 0.875rem;
    padding: 0.5rem 1rem;
  }
  

  .table th, .table td {
    font-size: 0.875rem;
  }
  
  .table-responsive table {
    width: 100%;
    margin: 0;
  }
  